		<form action="/messages?choice=erase">

<%= render 'shared/menu_inbox'%>
<% i=0 %>

		<%= will_paginate %>
		
		<ul class="messages">	

	
		  <% i=-1 %>	
						<% @messages[0..Page.pagination].each do |u| %>
				  			<% i=i+1 %>
				  			<%= render 'message', :message => u , :i=>i %>
						<% end %>
		</form>  
		</ul>
		
		<%= will_paginate %>

