
    <table class="display_user round">
    	<tr>
	    	<td class="left"><%=rank_user(user)%>.<%=link_to user.name, user %></td>
	    	<td class="right"><%=user.challpts%> <%= iconpoker %></td>
    	</tr>
    </table>



