<div class="row presentation">
  <div class="row head-presentation">
    <h1>Do it & Cash it, impress the world.</h1>
  </div>
  <div class="row col-md-10 col-md-offset-1"> 
    <div class="col-md-4"> 
      <span class="glyphicon glyphicon-cutlery"></span>
      <p>We are opinionated food lovers, noble whisky drinkers and elegant live enjoyers! </p>
    </div>
    <div class="col-md-4"> 
      <span class="glyphicon glyphicon-heart-empty"></span>
      <p>We decided to share some of our discoveries with the world. Who are we ? We are the kind of guys that like to sit down and share quality products with our friends. When we are happy we eat and we drink together.</p>
    </div>
    <div class="col-md-4"> 
      <span class="glyphicon glyphicon-globe"></span>
      <p>Time for you to distinguish yourself, discover some enjoyable things and spend some quality time with people who are close to you</p>
    </div>

  </div>
</div>

<div class="row authors-wrapper">
  <div class="well col-md-offset-2 col-md-8 authors">
    <div class="col-md-4">
      <img src="/img/authors/thomas.jpg" class="img-responsive img-rounded" heigth="300" width="300" alt="Thomas">
    </div>
    <div class="col-md-8">
      <h3>Thomas</h3>
      <small>Lorem ipsum</small>
    </div>
  </div>

  <div class="well col-md-offset-2 col-md-8 authors">
    <div class="col-md-4">
      <img src="/img/authors/antoine.jpg" class="img-responsive img-rounded" heigth="300" width="300" alt="Thomas">
    </div>
    <div class="col-md-8">
      <h3>Antoine</h3>
      <small>Lorem ipsum</small>
    </div>
  </div>

</div>
