<table class="menu_user_and_challenge round">	
	<tr>
		<td>
			<%= link_to "Send a new message", new_message_path %>
		</td>
		<td>
			<%= link_to "Messages sent", messages_path+"?choice=sent" %>
		</td>
		<td>
			<%= link_to "Received messages", messages_path+"?choice=received" %>
		</td>
		<td>
			<%= link_to "Inbox", messages_path %>
		</td>
	    <td><span class="specialinupt">
		<input id="user_submit" name="commit" type="submit" value="Delete selected" />
		</td></span>	
	</tr>
</table>

