    
    <div class="stream-manager js-stream-manager-container" id="home-stream-manager">
  
    <div class="stream-title"></div>
    <div class="stream-container">
      <div media="true" class="stream home-stream">

	   			<%= will_paginate @news%>	
		  <%= render @news %>

			<%= will_paginate @news%>

 


