
  
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="challenge">Challenge completed ?</h1>
        <%= render 'challenge_completed_form' %>
      </td>
    </tr>
  </table>
