  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="challenge">Add a new Challenge</h1>
        <%= render 'challenge_form' %>
      </td>
    </tr>
  </table>
